// colors https://coolors.co/373f51-008dd5-ffffff-f56476-e43f6f

// Electric Blue
$primary: #008dd5;
// Charcoal
$secondary: #373f51;
// White
$tertiary: #fff;
// Begonia
$quaternary: #f56476;

// fonts and font size
$serif-fonts: 'Open Sans', sans-serif;
$font-base-size: 10px;
