// node-sass source/scss/style.scss --output=compiled/css --output-style=compressed --source-map=true --watch
@import "_variables";

h1 {
  font-size: $font-base-size * 3;
}

h2 {
  font-size: $font-base-size * 2.5;
}

h3 {
  font-size: $font-base-size * 2;
}

h4 {
  font-size: $font-base-size * 1.8;
  font-style: italic;
  color: lighten($secondary, 30%);
}

h5 {
  font-size: $font-base-size * 1.7;
  color: lighten($secondary, 30%);
}

h6 {
  font-size: $font-base-size * 1.6;
  color: lighten($secondary, 30%);
}

body {
  font-family: $serif-fonts;
}

p {
  font-size: $font-base-size * 1.5;

  textarea {
    color: lighten($secondary, 30%);
    background-color: lighten($primary, 55%);
    height: 40px;
    width: 160px;
    font-size: $font-base-size * 1.5;
    border: none;
    border-radius: 5px;

    &:focus {
      color: $secondary;
      outline-color: $primary;
      outline-style: solid;
      outline-width: 2px;
    }
  }
}

a {
  color: $quaternary;

  &:hover {
    color: darken($quaternary, 10%);
  }
}
// .button, button, input[type=button], input[type=reset], input[type=submit]
input[type=button] {
  color: $tertiary;
  background-color: lighten($primary, 30%);
  text-shadow: none;
  border: none;
  box-shadow: none;
  height: 30px;
  padding: 0 15px;
  border-radius: 5px;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 5px rgba(50, 50, 93, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08);
  }
}

input.danger {
  color: $tertiary;
  background-color: lighten($quaternary, 12%);
  text-shadow: none;
  border: none;
  box-shadow: none;
  height: 30px;
  padding: 0 15px;
  border-radius: 5px;
}

input[type=text] {
  background-color: lighten($primary, 55%);
  box-shadow: none;
  height: 30px;
  text-shadow: none;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
  font-size: $font-base-size * 1.5;

  &:focus {
    outline-color: $primary;
    outline-style: solid;
    outline-width: 2px;
  }
}

input[type=password] {
  background-color: lighten($primary, 55%);
  box-shadow: none;
  height: 30px;
  text-shadow: none;
  padding-left: 5px;
  font-size: $font-base-size * 1.5;
  border: none;
  border-radius: 5px;

  &:focus {
    outline-color: $primary;
    outline-style: solid;
    outline-width: 2px;
  }
}

p.textarea {
  color: red;

  &:focus {
    outline-color: $primary;
    outline-style: solid;
    outline-width: 2px;
  }
}

figure {
  background: $primary;
  overflow: hidden;
  max-width: 650px;
  text-align: center;
  border-radius: 5px;
}

img {
  min-height: 100%;
  max-width: 100%;
  border-radius: 5px;
}

figcaption {
  font-size: $font-base-size * 1.2;
  padding: 0.5em;
  padding-bottom: 0.8em;
  color: #fff;
}

th {
  background-color: $primary;
  color: $tertiary;
  border: none;
  border-radius: 5px;
}

th,
td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid $secondary;
}

tr:hover {
  background-color: lighten($secondary, 70%);
}

input[type=checkbox] + label {
  color: $tertiary;
  background-color: lighten($primary, 30%);
  padding-left: 5px;
  padding-right: 5px;
  border: none;
  border-radius: 5px;
}

input[type=radio] + label {
  color: $tertiary;
  background-color: lighten($primary, 30%);
  padding-left: 5px;
  padding-right: 5px;
  border: none;
  border-radius: 5px;
}
